html {
    position: relative ;
min-height: 100%;
}
body {margin: 0 0 80px}
header {
    background-color: rgb(255, 144, 0);
    padding: 10px;
}
header p{
    font-size: 28px;
    margin:5px ;
}
header ul{
    margin-top: 20px;
    padding:5px;
}
header li{
    display: inline;
    list-style: none;
    margin-right: 20px;
    padding: 5px;
    background-color: #001a35;
}
section {
    margin: 10px;
    width: 65%;
}
section header {
    background-color: rgba(0, 0, 0, 0.22);
    padding-left: 0;
}
article header h1{
    font-size: 32px;
    margin-bottom: 5px;
}
article header h2{
    font-size: 24px;
    margin-bottom: 5px;
}
article header h2 a{
    color:#333;
}
article header p {
    font-size: 14px;
    margin:0;
}
aside {
    float: right;
    width: 30%;
    padding:5px 5px;
    margin: 5px;
    background: antiquewhite;
    border:1px solid #b5bbc8;
}
aside h3 {
    font-weight: bold;
}
aside p {


    padding: 8px 4px;
    font-weight: 200;
}
.latest {

    margin: 20px auto;

}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width:100%;
    border-top:1px solid#1a2226;

}
a {
    color: #1c2d3f;
    text-decoration: none;
}
a:hover,a:active{
    color: rgba(0, 2, 138, 0.75);
    text-decoration: underline;
}