{% extends '@Core/layout.html.twig' %}
{% block title %} {{ 'post.plural'|trans }} {% endblock %}
{% block sidebar %}
       <aside>
              <h3> {{ 'post.lastests'|trans }}</h3>
               <div class="latest">
              {% for latests in latest %}
              <p>
                     <a href="#">{{ latests.title }}</a>
              </p>
              {% endfor %}
               </div>

       </aside>
{% endblock %}
{% block section %}
       {% for post in posts %}
{{ include('@Core/post/_post.html.twig') }}

       {% endfor %}
{% endblock %}
